body {
}

.TopMailDiv {
}

.ContentBoxDiv {
}

.LeftBoxDiv {
}

.RightBoxDiv {
}


/*MENYBAR*/

.Menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 0;
    height:500px;
    margin-top:300px;
}

    /*
    Matchar samtliga <ul> innuti <div class="menu"> för att ta bort margin, padding och list-style-type
    */
    .Menu ul {
        padding: 0;
        list-style: none;
        background: rgba(1, 0, 0, 0.5);
        text-decoration: none;
        font-family: Arial;
    }

    /*
    Matchar första <ul> innuti <div class="menu">, dvs. meny-baren.
    */
    .Menu > ul {
        /*background: rgba(1, 0, 0, 0.5);*/
        background: rgba(75, 78, 92, 0.8);
        width: 1000px;
        margin: 0 auto;
        height: 60px;

    }

    /*
    Matchar samtliga <a>-taggar innuti <div class="menu">
    */
    .Menu a {
        /*background-image:url(bar2.png);*/
        display: block;
        padding: 20px;
        font-family: sans-serif;
        color: white;
        text-decoration: none;

    }

    .Menu ul ul a {
        padding: 5px 20px;
    }


    .Menu > ul > li {
        float: left;
        height: 60px;
    }

    /*BAR inst när man hovrar över bar*/
    .Menu li.active > a {
        background-color: #eee;
        color: black;
    }

    .Menu > ul > li.active ul {
        display: block;
    }

    .Menu > ul div {
        position: absolute;
        left: 0;
        width: 100%;
    }
    /*Menydropp*/
    .Menu > ul ul {
        width: 1000px;
        position: relative;
        display: none;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

        .Menu > ul ul a {
            color: white;
        }

            .Menu > ul ul a:hover {
                color: black;
                background-color: white;
            }



