@{
    ViewBag.Title = "TestCSS";
}

<h2>TestCSS</h2>
    @Styles.Render("~/Content/css")
<header>
        <div class="Menu">
        <ul>
            <li><a href="#">Startsida</a>
                <div>
                    <ul>
                        <li><a href="personlig-ogonkirurgi.html">PERSONLIG ÖGONKIRUGI</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">WebShop</a>
                <div>
                    <ul>
                        <li><a href="Ögonmottagning.html">ÖGONMOTTAGNING</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Info</a>
                <div>
                    <ul>
                        <li><a href="Ögats-Anatomi.html">ÖGATS ANATOMI</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>

    </header>
